<h1 class="text-center">Dota Heroes</h1>
<!-- <p class="text-center">
  <a href="/pokemon">Favorites</a>
</p> -->


<div class="container index" id="dotaSet" >
  <% dotaData.forEach(function(dotaData) { %>
      <div class="col" id="dotaHeroCard">
        <div >            
          <p><%= dotaData.localized_name %></p>
          <p><%= dotaData.hero_id%></p>
          <img src="http://cdn.dota2.com/<%= dotaData.img %>" width="100"> <!-- make sure to add http://cdn.dota2.com/-->
    
          </a>
        </div>
        <br>
    </div>
        <% }); %>
</div>
