#dotaHeroCard {
  display: grid;
  border: 2px solid black;
  width: auto;
  height: auto;
  
}
.container {
  display: flex;
  flex-wrap: wrap;
  
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#comp {
 display: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}
.compCell {
  width: 100px;
  height: 100px;
  margin: 10px 10px;
  border:2px solid black
}



.groupgroup {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}