<h1 class="text-center">Saved Comps</h2>
  <p class="text-center">
    <a href="/">Home</a>
    // 
    <a href="/teams">Saved Teams</a>
    //
    <a href="/users">Users</a>
  </p>


  <div class="groupgroup">
    <form method="POST" action="/users">
      <input type="text" name="userName" id='name' required>
      <button class="btn " type="submit">Save</button>
    </form>
</div> 




<div class='container groupgroup'>
  <% users.forEach(users => { %>
  <div class="row index titleEdit" style="margin-bottom: 20px;">
     
        <div class="col" >
          <p><%= users.dataValues.user_name %></p>   
        </div>
 <br>
    <div class="container index " id="dotaSet">
        <div class="col" >
          <form method="GET" action="/users/edit/<%= users.dataValues.id %>">
            <button class="btn" name="edit" type="submit">Edit</button>
          </form>
        </div> 
<br>
        <form method="POST" action="/users/delete/<%= users.dataValues.id %>/?_method=DELETE">
          <button class="btn" name="delete" type="submit">Delete</button>
        </form>
      </div>
  </div>
 

  <% }) %> 
</div>